<%= render 'nav' %>
<div class="profile">
  <div class="part1">
  <% if @user.photo.attached? %>
   <%=cl_image_tag @user.photo.key, class: "photo"%>
   <% end %>
    <h1>Hello <%=@user.first_name %> <%= @user.last_name %> </h1>
  </div>
  <div class="part2">
    <% if @pets.size > 0 %>
      <h2>Your pets are:</h2>
      <% @pets.each do |pet| %>
      <p>-<%=pet.name%> <%= pet.age %>yrs the <%= pet.kind %></p>
      <% end %>
    <% else %>
      <h2>You dont have any pets</h2>
    <% end %>
    <br>
    <h2>Phone number:</h2>
    <p>-<%=@user.phone_number%></p>
    <br>
    <h2>Location:</h2>
    <p>-<%=@user.location%></p>
    <br>
    <h2>Email:</h2>
    <p>-<%=@user.email%></p>
    <br>
    <h2><%=@user.children ? "You have children" : "You dont have children"%></h2>
    <br>
    <% if @user.bookings.size > 0 %>
      <h2>Bookings:</h2>
      <% @user.bookings.each do |booking| %>
        <p>-<%= booking.pet.name%> form <%= booking.start_date %> to <%= booking.end_date %></p>
      <%end %>
    <% else %>
      <h2>You dont have any bookings yet</h2>
    <% end %>
    <div class="links">
      <p><%= link_to "edit user", edit_user_registration_path%> </p>
      <p><%= link_to "sign out (pls stay)", destroy_user_session_path, data: {turbo_method: :delete}%></p>
    </div>
  </div>
</div>
