<%= render 'nav' %>
<div class="profile">
  <div class="part1">
    <h1>Hello <%=@user.first_name %> <%= @user.last_name %> </h1>

<div class="container mt-5" id="container_show">
  <div class="card" id="card_show">
    <div class="row align-items-center">
       <div class="col-md-7">
            <div class="part1">
               <% if @user.photo.attached? %>
                  <%=cl_image_tag @user.photo.key, id: "profile-photo", class: "rounded-image photo mb-4"%>
              <% end %>
              <br>
              
              <h2 class="profile_page_h2"><strong>Phone number</strong></h2>
              <p class="profile_page_p"><%=@user.phone_number%></p>
              <h2 class="profile_page_h2"><strong>Email</strong></h2>
              <p class="profile_page_p"><%=@user.email%></p>
            </div>
        </div>

        <div class="col-md-5">
              <% if @pets.size > 0 %>
                <h2 class="profile_page_h2"><strong>Your pets are</strong></h2>
                <% @pets.each do |pet| %>

                <p class="profile_page_p"><%= link_to "#{pet.name}", pet_path(pet), class: "btn mt-2", id: "pet_link_button" %></p>

                <% end %>
              <% else %>
                <h2 class="profile_page_h2"><strong>You dont have any pets</strong></h2>
              <% end %>

              <h2 class="profile_page_h2"><strong>Location</strong></h2>
              <p class="profile_page_p"><%=@user.location%></p>

              <h2 class="profile_page_h2"><strong><%=@user.children ? "You have children" : "You dont have children"%></strong></h2>
              <br>
              <% if @user.bookings.size > 0 %>
                <h2 class="profile_page_h2"><strong>Bookings</strong></h2>
                <% @user.bookings.each do |booking| %>
                  <p class="profile_page_p"><%= booking.pet.name%> form <%= booking.start_date %> to <%= booking.end_date %></p>
                <%end %>
              <% else %>
                <h2 class="profile_page_h2"><strong>You dont have any bookings yet</strong></h2>
              <% end %>
              <div class="links">

                <div class="row align-items-center" id="buttons_profile">
                   <div class="col">
                      <p><%= link_to "edit user", edit_user_registration_path, class: "btn btn-outline-primary mt-2", id: "edit_button" %></p>
                   </div>
                   <div class="col">
                      <p><%= link_to "sign out", destroy_user_session_path, class: "btn btn-outline-dark mt-2", id: "signout_button", data: {turbo_method: :delete}%></p>
                   </div>
                </div>
              </div>
      </div>
    </div>
  </div>



      </div>
    </div>
  </div>
