

<%# THIS IS THE NAV BAR %>

<%= render 'nav' %>

<%# THIS PUTS ALL THE TYPES OF ANIMALS IN THEIR OWN ARRAY %>

<%# CALLING THE CAROUSEL %>

<%@pets_array.each_with_index do |pet_array, index| %>
 <br>
 <%=render "carousel", list: pet_array, index: index %>
 <br>
<% end %>

<p><%= link_to 'create pet',  new_pet_path%></p>


<div style="width: 60%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
