<%= render 'nav' %>
<div class="container_new">
  <div class="col-6">
    <div class="card" id="new_card">
     <div class >
      <h5>Add your pet here</h5>
      <%= simple_form_for(@pet) do |f| %>
          <%= f.input :name %>
          <div class="row">
            <div class="col">
              <%= f.input :age, as: :numeric %>
            </div>
            <div class="col">
              <%= f.input :kind, collection: Pet::SPECIES, as: :select, id:"kind" %>
            </div>
          </div>

            <%= f.input :details %>
            <%= f.input :start_date%>
            <%= f.input :end_date%>

          <div class="upload_photo">
            <label for="pet_profile_picture">Add a photo</label>
            <%= f.input :profile_picture, as: :file, label: false, input_html: { class: 'file-input d-none' } %>
          </div>

          <%= f.submit "Post your pet", class: "btn btn-primary w-100", id: "btn_post" %>


      <% end %>
     </div>
    </div>
  </div>
</div>
